
        body{
            font-family: "Open Sans", sans-serif;
            line-height: 1.5;

        }
        h1{
            text-transform: capitalize;
        }
        p{
            color: rgb(128, 128, 128);
        }
        .box{
            display: inline;
     background-color: rgb(219, 217, 217);
margin: 0 10px;
     padding: 8px;
     border: 1px solid black;
     border-radius: 5px;
        }
        .box1{
              background-color: rgb(219, 217, 217);
        }
        
        .box2{
              background-color: rgb(219, 217, 217);
        }
        
        .box3{
              background-color: rgb(219, 217, 217);
        }
        .explain{
            display: inline-block;
            background-color: rgb(73, 73, 221);
            padding: 60px;
            border-radius: 7px;
            margin: 0 10px;
        
     align-items: flex-start;
            color: #ffffff;
        }
        .explain1{
      color: #ffffff;
     
        }
        .explain2{
                color: #ffffff;
        }
.explain3{
     color: #ffffff;
}
.explain4{
     color: #ffffff;
}
.explain5{
     color: #ffffff;
     display: none;
}
.vissibility{
    display: inline-block;
            background-color: rgb(73, 73, 221);
            padding: 60px;
            border-radius: 7px;
            margin: 0 10px;
            color: #ffffff;
        visibility: hidden;
}
.submit-btn{
    background-color:rgb(73, 73, 221) ;
    display: inline;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: #ffffff;
}
.container{
    background-color: rgb(179, 179, 179);
   padding: 20px;
   border-radius: 9px;
}

